table,tr,td,th{
    border: black solid 1px;   
}
table{
    padding: 5px;
    width:1000px;
    margin: auto;
}
fieldset{
    width: max-content;
}
form{
   display: grid;
   place-content: center;
}
#orderButton{
  float: right;
  margin-top: 10px;
}
h1 a {
   float: right;
   margin-right: 100px;
}
select{
    margin-left: 100px;
}
#price{
    margin-left: 100px;
}
#quantity{
    margin-left: 70px;
}

@media only screen and (min-width: 768px) {

   

   fieldset {
    width: max-content;
    padding-left: 210px;
}

table {
    padding: 5px;
    width: 704px;
    margin: 0;
}

#orderButton {
    float: right;
    margin-top: 10px;
}
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    

    fieldset {
     width: max-content;
     padding-left: 210px;
 }
 
 table {
     padding: 5px;
     width: 704px;
     margin: 0;
 }
 
 #orderButton {
     float: right;
     margin-top: 10px;
 }
 }


   
 
}
